server {
    listen 80;
    listen 443 ssl http2;
    ssl_certificate {{ path1 }};
    ssl_certificate_key {{ path_key }};

    server_name {{ http_host }} www.{{ http_host }};

    location / {
        proxy_pass http://{{ ip_proxy }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
